.blog_parent {
    margin: 3rem 5rem;
    /* background-color: yellowgreen; */
}

@media(max-width: 1300px) {
    .blog_parent {
        margin: 3rem 3rem;
    }
}

@media(max-width: 768px) {
    .blog_parent {
        margin: 1rem 0.5rem;
    }
}

.blog_title_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: violet; */
}

.justification {
    text-align: justify;
    line-height: 19px;
    padding-top: 5px;
}

@media(max-width: 768px) {
    .justification {
        text-align: justify;
        line-height: 14px;
        padding-top: 5px;
    }
}

.blog_date_date {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3px;
}




.First_Arrival_at_KIIT_University_parent_div {
    display: flex;
    gap: 2rem;
    margin: 4rem 0rem;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px) {
    .First_Arrival_at_KIIT_University_parent_div {
        flex-direction: column;
        margin: 2rem 0rem;
        gap: 1rem;
    }
}

.blog_my_First_Arrival_at_KIIT_University_img {
    /* height: 10rem; */
    width: 100%;
    border-radius: 8px;
}

.blog_my_First_Arrival_at_KIIT_University_image_parent {
    width: 110%;
}

@media(max-width: 768px) {
    .blog_my_First_Arrival_at_KIIT_University_image_parent {
        width: 100%;
        /* background-color: yellowgreen; */
    }
}

.First_Arrival_at_KIIT_University_text_div {
    height: 100%;
    width: 120%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 768px) {
    .First_Arrival_at_KIIT_University_text_div {
        width: 100%;
    }
}

.First_Arrival_at_KIIT_University_tag_div_parent {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}


.First_Arrival_at_KIIT_University_tag_div {
    /* background-color: violet; */

    background-color: #EDF5ED;
    border: 2px solid #B3C9B3;
    white-space: nowrap;
    display: inline-flex;
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
}













.blog_certificate_section {
    padding: 2rem 5rem;
    background-color: #F5EFE6;
    margin-bottom: 4rem;
}

@media(max-width: 1300px) {
    .blog_certificate_section {
        padding: 3rem 3rem;
    }
}

@media(max-width: 768px) {
    .blog_certificate_section {
        padding: 1rem 0.5rem;
        margin-bottom: 2rem;
    }
}

.milestone_parent{
    margin-top: 1rem;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

@media(max-width: 1050px) {
    .milestone_parent {
        margin-top: 1rem;
        gap: 10px;
        /* padding: 1rem 0rem; */

        width: 100%;

        overflow-x: auto;
        overflow-y: hidden;
        /* white-space: nowrap; */


        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .milestone_parent::-webkit-scrollbar {
        display: none;
    }
}

.milestione_individual_div {
    background-color: #EDF5ED;
    border: 2px solid #B3C9B3;
    white-space: nowrap;
    display: inline-flex;
    padding: 1.3rem;
    border-radius: 18px;

    /* width: 14rem; */

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

    flex-direction: column;
    gap: 10px;
}

@media(max-width: 1050px){
    .milestione_individual_div{
        width: 10rem;
    }
}