.project_individual_another {
    background-color: #F1FAF5;
    box-shadow: 0px 0px 8px #A3A3A3;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.project_individual_parent_another {
    margin-top: 2rem;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width: 1300px) {
    .project_individual_parent_another {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 968px) {
    .project_individual_parent_another {
        margin-top: 1rem;
        gap: 10px;
        padding: 1rem 0rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 580px) {
    .project_individual_parent_another {
        grid-template-columns: repeat(1, 1fr);
    }
}



.project_another_grand_parent_another {
    margin: 3rem 5rem;
}

@media(max-width: 1300px) {
    .project_another_grand_parent_another {
        margin: 2rem 3rem;
    }
}

@media(max-width: 768px) {
    .project_another_grand_parent_another {
        margin: 1.5rem 0.5rem 0rem 0.5rem;
    }
}