.education_individual_new {
    background-color: #FAF3E6;
    /* box-shadow: 0px 0px 8px #A3A3A3; */
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}