.education_individual {
    background-color: #FAF3E6;
    /* box-shadow: 0px 0px 8px #A3A3A3; */
    border-radius: 8px;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 1024px) {
    .education_individual {
        width: 18rem;
    }
}

.education_individual_child {
    border: 5px solid #B3C9B3;
    border-radius: 8px;
    padding: 2rem 1rem;
    width: 100%;
    /* height: 80%; */

    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

    /* height: 20rem; */
}

.college_logo_image{
    height: 5rem;
}

.education_last_part{
    margin-bottom: 2rem;
}