.no-highlight {
  outline: none;
  text-decoration: none;
}

.no-highlight:focus {
  outline: none;
}

.no-highlight:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  /* removes blue click highlight */
}

.no-highlight:focus-visible {
  outline: none;
}

.truncate-2 {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.truncate-all {
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

body {
  padding-top: 70px;
}
